@charset "utf-8";
@import url(reset.css);
body{font-size: 13px;background: #f5f5f5;}
img{max-width: 100%;}
.mb50{margin-bottom: 50px;}
.mb20{margin-bottom: 20px;}
.navbar{background: rgba(245,243,243,.7);}
.navbar-dark .navbar-nav .nav-link,.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{color: rgba(0,0,0,.8);}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {color: rgba(0,0,0,.5);}
nav .navbar-brand img{width: 190px;}
nav .dropdown-toggle::after{border: none;}
nav .dropdown-menu{font-size: 0.8rem;}
.navbar-dark .navbar-toggler-icon{background: url(images/common/menu-black.png) 0 0 no-repeat;-webkit-background-size: contain;
background-size: contain;}

.visual{padding-top: 99px;}

.c h2{font-size: 18px;	color: #36496d;}
.c ul{margin-bottom: 0;}
.header .container{margin-bottom: 0;}
.container{margin-bottom: 3rem;}