@charset "utf-8";
body{min-width: 315px;}
.mb0{margin-bottom: 0;}
.visual .carousel-item{position: relative;}
.visual img{width: 100%;}
.visual .visual-txt{position: absolute;color: #fff;text-shadow: 1px 1px 0 #000;background: rgba(0,0,0,.6);padding: 2%;top: 28%;left: 38%;}
.visual-txt h2{font-size: 35px;font-weight: bold;padding-bottom: 40px;}
.visual-txt h3{font-size: 23px;padding-bottom: 10px;}
.visual-txt p{font-size: 15px;}
.visual-txt span{color: #bc3405;font-weight: bold;text-shadow: 1px 1px 1px darkmagenta;}
.c1{position: relative;}
.c1-2 .txt{background: #ebebeb;height: 264px;padding-top: 40px;	padding-bottom:40px;}
.c1 .txt ul{height: 100%;padding-left: 40px;padding-right: 40px;}	
.c1 .txt li{margin-bottom: 20px;}	
.c1 .txt li:after{content: '';display: block;clear: both;}
.c1 .txt li a{display: block;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;width: 280px;float: left;}
.c1 .txt li span{float: right;}
.c1 .more{position: absolute;top: 0;right: 4%;}

.c2 li .txt{text-align: center;background: #fff;padding: 1rem;}
.c2 li .txt p{margin-bottom: 0;}

.c3 li .txt{padding-top: 30px;}
.c3 li:last-child .txt{padding-bottom:30px;}
.c3 li a{display: block;width: 100%;height: 100%;line-height: 60px;}
.c3 li .icon-1{background: url(../images/main/main-content-3-1.png) center no-repeat; background-size: contain;}
.c3 li .icon-2{background: url(../images/main/main-content-3-2.png) center no-repeat; background-size: contain;}
.c3 li .icon-3{background: url(../images/main/main-content-3-3.png) center no-repeat; background-size: contain;}
.c3 li .icon-4{background: url(../images/main/main-content-3-4.png) center no-repeat; background-size: contain;}

.c4 a{display: block;width: 100%;text-align: center;padding-top: 150px;transition: .6s;}
.c4 .c4-1 a{background: url(../images/main/main-content-4.png) 1% 0 no-repeat;}
.c4 .c4-2 a{background: url(../images/main/main-content-4.png) 21% 0 no-repeat;}
.c4 .c4-3 a{background: url(../images/main/main-content-4.png) 40% 0 no-repeat;}
.c4 .c4-4 a{background: url(../images/main/main-content-4.png) 60% 0 no-repeat;}
.c4 .c4-5 a{background: url(../images/main/main-content-4.png) 79% 0 no-repeat;}
.c4 .c4-6 a{background: url(../images/main/main-content-4.png) 99% 0 no-repeat;}
.c4 .c4-1 a:hover{background: url(../images/main/main-content-4-h.png) 1% 0 no-repeat;}
.c4 .c4-2 a:hover{background: url(../images/main/main-content-4-h.png) 21% 0 no-repeat;}
.c4 .c4-3 a:hover{background: url(../images/main/main-content-4-h.png) 40% 0 no-repeat;}
.c4 .c4-4 a:hover{background: url(../images/main/main-content-4-h.png) 60% 0 no-repeat;}
.c4 .c4-5 a:hover{background: url(../images/main/main-content-4-h.png) 79% 0 no-repeat;}
.c4 .c4-6 a:hover{background: url(../images/main/main-content-4-h.png) 99% 0 no-repeat;}
.footer{background: #0d121b;text-align: center;padding: 30px 50px 50px 50px;}
.footer ul{overflow: hidden;}
.footer ul li{float: left; margin-right: 20px;}
@media(max-width: 1400px){
	.visual .visual-txt{padding: 1%;top: 25%;}
}

@media(max-width: 1200px){
	.c1-2 .txt{height: 221px;}
	.c4 .c4-1 a{background-position: -2% 0;}
	.c4 .c4-2 a{background-position: 19% 0;}
	.c4 .c4-6 a{background-position: 101% 0;}
	.c4 .c4-1 a:hover{background-position: -2% 0;}
	.c4 .c4-2 a:hover{background-position: 19% 0;}
	.c4 .c4-6 a:hover{background-position: 101% 0;}
}
@media(max-width: 991px){
	.c1-2 .txt{height: 162px; padding-top: 30px;}
	.c1 .txt ul{padding: 0;padding-inline-start: 30px;}
	.c1 .txt li span{display: none;	}
	.c2 .txt h2{font-size: 18px;}
	.c2 .txt p{font-size: 10px;}
	.c3 li a{height: 60px;}

}
@media(max-width: 768px){
	nav#nav{height: 70px;}
	.visual{padding-top: 70px;}
	.c4 .c4-1 a{background-position: 2% 0;}
	.c4 .c4-1 a:hover{background-position: 2% 0;}
	.c4 .c4-2 a{background-position: 21% 0;}
	.c4 .c4-2 a:hover{background-position: 21% 0;}
	.c4 .c4-3 a{background-position: 40% 0;}
	.c4 .c4-3 a:hover{background-position: 40% 0;}		

 /*xs*/	
